#heading {
    text-align: center;
    background-color: black;
   position: fixed;
}



.abt {
  text-align: left;
  text-indent: 30px;
  position: fixed;
  
  }

.row>div {
    padding: 40pxs;
    background-color: black;
    border: 2px solid black;
}
