#header {
  text-align: center;
  background-color: black;
  
}

.abt {
  margin-top: 20px;
  text-align: left;
  text-indent: 30px;
  position: fixed;
  
}
.tit {
  
  text-align: center;
  
  text-indent: 30px;
  
  
}


.row>div {
  padding: 40pxs;
  background-color: black;
  border: 2px solid black;
}

.home { 
  text-align: right;
  

}